body{
  font-family: 'Cabin Condensed', sans-serif;
  text-align: center;
  background-color: #e2eff1;
  margin: 0;
}

.header-box{
  margin-top: 10%;
  position: relative;
}

.cloud-icon{
  max-width: 10%;
  max-height: 10%;
  position: absolute;
}

h1{
  font-family: 'Merienda', cursive;
  font-size: 60px;
  color: #555273;
}

h2{
  font-family: 'Nunito Sans', sans-serif;
  color: #65799b;
}

h3{
  font-family: 'Nunito Sans', sans-serif;
  color: #65799;
}
